.about-section {
  padding: 5rem 0 5rem 0;
  background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%);
	.ror-carousel{
	  color:#fff;
	}
	.carouselItem{
	  position:relative;
	}
	.carouselItem h3{
	  position:absolute;bottom:30px;
	  left:50%;
	  transform:translateX(-50%);
	}
	.carouselItem .more{
		position: absolute;
		top:70%;
		left:8%;
		padding:0.4rem 1rem;
		color:#fff;
		border:1px solid #fff;
		display: inline-block;
	}

	.carouselNavWrap{
		width:100%;
		background:black;
		.carouselNav {
			margin:0 auto;
			.carouselNavItem{
				display:inline-block;
			}
			.carouselNavItem a{
				padding:0.5rem;
				display:block;
				outline:0;
				font-size:0.9rem;
			}
			.carouselNavItem a.active{
				color:#fff;
			}
		}
	}
	@media(min-width: 576px) {
		.carouselItem .more{
			top:209px;
			left:43px;
			padding:0.4rem 1rem;
		}
	}
	@media(min-width: 768px) {
		.carouselItem .more{
			top:285px;
			left:58px;
			padding:0.7rem 2rem;
		}
	}
	@media(min-width: 992px) {
		.carouselItem .more{
			top:382px;
			left:77px;
			padding:0.7rem 2rem;
		}
		.carouselNavWrap{
			.carouselNav {
				.carouselNavItem a{
					font-size:1rem;
					padding:1rem;
				}
			}
		}
	}
	@media(min-width: 1200px) {
		.carouselItem .more{
			top:450px;
			left:90px;
			padding:0.7rem 2rem;
		}
	}
}
