.roadmap-section {
  padding:5rem 0;
  background-color:#fff;
  .roadmapWrapper{
  	width:100%;
  	margin:0;
  	position:relative;
    background-image:url(/img/roadmapm.png);
    background-size:auto;
    background-position:bottom center;
    background-repeat:no-repeat;
    padding-bottom:373px;
  	h3{
  		color:#fff;
  		font-size:20px;
  		padding:8px 0;
  		margin:0 auto 17px auto;      
  	}
  	p{
  		margin:0;
      font-size:90%
  	}

  	.milestone{
  		text-align:center;
      margin:0 auto 30px auto;
      width:80%;
  	}

    .red{
      background:#f05b30;
    }
    .gold{
      background:#d6b064;
    }
    .leftRound{
      border-radius: 0 0 0 20px;
    }
  	.rightRound{
      border-radius: 0 0 20px 0;
    }
  }
  @media(min-width:768px) {
  	.roadmapWrapper{
			background-image:url(/img/roadmap_bg.jpg);
			background-size:contain;
  		width:760px;
  		height:934px;
	  	margin:4rem -35px 0 -35px;
	  	background-size:cover;
      p{
        font-size:100%;
      }
      h3{
        width:auto;
      }
      h3.right{
        padding-left:80px;
      }
      h3.left{
        padding-right:80px;
      }
      .milestone{
        position:absolute;
        display: inline-block;
        width:44%;
        margin-bottom:0;
      }
      .red, .gold{
        background:none;
      }

      .m2019q1{
        left:53%;
        top:28px;
      }
      .m2019q2{
        left:3%;
        top:135px;
      }
      .m2019q3{
        left:53%;
        top:160px;
      }
      .m2019q4{
        left:3%;
        top:257px;
      }
      .m2020q1{
        left:53%;
        top: 338px;
      }
      .m2020q2{
        left:3%;
        top: 447px;
      }
      .m2020q3{
        left:53%;
        top: 513px;
      }
      .m2020q4{
        left:3%;
        top: 573px;
      }

	  }
  }
  @media(min-width:992px) {
  	.roadmapWrapper{
	  	margin:4rem auto 0 auto;
	  }
  }
}
